/* Place your CSS styles in this file */
.container{
    background-color: lightgrey;
    height: 272px;
    width: 272px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    /* flex-wrap: wrap-reverse; */
    justify-content: le;
    flex-wrap: wrap-reverse;
}
.first_div{
    display: flex;
    flex-direction: column;
    justify-content: fle;
    flex-wrap: wrap-reverse;
}
.second_div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-items: center; */
    /* flex-wrap: wrap-reverse; */
    flex-grow: 3;
    align-items: center;
}

#div1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orange;
    
}
#div2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(81, 0, 255);
}
#div3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 0, 170);
}
#div4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(0, 255, 34);
}
#div5{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(0, 170, 255);
}
#div6{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(162, 26, 33);
}
