#animation_div{
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    transition: all 2s ease-in-out;
}
#animation_div:target{
    height: 25%;
    width: 25%;
    top: 25%;
    left: 25%;
    background-color: cyan;

}