body{
    margin: 0px;
    font-family: sans-serif;
    margin: 16px 0px;
    
}


#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(image/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    padding-top: 1.2rem;
}


/*navigation-bar using horizontal list*/
.nav_bar li{
    display: inline;
    text-decoration: none;
    color: white;
    list-style: none;
}
.nav_bar {
    text-align: center;
    padding: 15px 5px 15px 20px;
}
.nav_bar  a{
    margin: 0px 15px 10px 0px;
    color: white;
    text-decoration:none;
    transition: color 2.4s, border-bottom 4s;
}
.nav_bar a:hover{
    color:lightgrey;
    border-bottom:1px solid black;
}
.text-center{
    text-align: center;
}
/*social_tags*/
.social_tags{
    text-align: center;
    padding: 0px 10px 0px 0px;
}
.social_tags li{
    display: inline-block;

}
.social_tags img{
    height: 23px;
    width: 23px;

}
.social_tags li a{
    padding-right:10px
    
}
/*h1 tag name */
#my_name{
    text-align: center;
    color: white;
    font-size: 3.3rem;
    font-family: sans-serif;
}
.social_container{
    margin-top: 15vh;
}
/*social image shadow*/
.social_tags li a img{
    
    /*border-radius: 50%;*/
}
.social_tags li a img:hover{
    box-shadow: 0px 0px 6px 6px rgba(198, 60, 14, 0.13);
}
/*about section*/

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*height: 75vh;*/
    align-items: center;
    flex-wrap: wrap;
    
    
}

section:nth-child(2n){
    background-color: #9e9b9b29;
}
section:nth-child(2n+1){
    background-color: white;
}
.section_heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section_heading span {
    font-size: 40px;
    color: rgb(40, 87, 164);
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.Section_icon{
    height: 35px;
}
.mb75px{
    margin-bottom: 75px;
}


/*about section*/
#about {
    height: auto;
    width: 100%;
    position: relative;
}
.my_image{
    text-align: center;
    
    
    margin: auto;
    margin-top: -18vh;
    position: relative;
}



.my_image img{
    height: 26vh;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


.about_para {
    width: 70%;
    text-align: justify;
    margin: auto;
    padding: 10px;
    font-size: 19px;
    font-family: sans-serif;
    line-height: 28px;
    color: grey;
}
/*.about_para p{
    text-align: justify;
}*/
.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
/*skill section*/

.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;

}
.skill_status{
    height: 2.2rem;
    width: 11rem;
    /* border-radius: 25%; */
    /* border: 2px solid red; */
    border-radius: 5rem;
    background-color: lightblue;
    margin: 25px;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;

}
/*.content{
    height: inherit;
    width: 70%;
    height: 2rem; 
    background-color: lightblue;
    /* text-align: center; 
    padding-left: 14px;
    
    font-size: 0.8rem;
    color: white;
} */
.skill_status>div{
    border-radius: 5rem 0 0 5rem;
    box-shadow: 1px 1px 5px 2px #989882;
}

.status_value_80{
    width: 80%;
    height: inherit;
}
.status_value_85{
    width: 85%;
    height: inherit;
}
.status_value_30{
    width: 30%;
    height: inherit;
}
.status_value_25{
    width: 25%;
    height: inherit;
}
.bc_blue{
    background-color: blue;
}
.bc_green{
    background-color: green;
}
.bc_brown{
    background-color: rgb(94, 65, 65);
}
.bc_orange{
    background-color: orangered;
}
.skill_font {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
    padding-top: 10px;
}
/*portfolio*/
.portfolio_container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.portfolio_img{
    /*height: 300px;*/
    width: 300px;
    margin: 25px;
    position: relative;
    overflow: hidden;
}
.port-content{
    height: inherit;
    width:inherit;
}
.portfolio_image_detail {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    padding: 15px;
    /* margin: 5px; */
    text-align: center;
    /* color: white; */
    height: 100%;
    color: transparent;
    padding: 10px;
}
.portfolio_img:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio_img:hover .portfolio_image_detail {
    background-color: #80808078;
    color: white;
}
/*contact_section*/

/*#contact h1 span {
    color: white;
}*/

/*#contact h1,
#contact h1 span {
    color: white;
}*/
#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}
#contact_container{
    display: flex;

}
.user_contact_detail{
    width: 50%;
    
}
.contact_form{
    margin-left: 20%;
}
.contact_form input, textarea{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
.contact_form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    /* line-height: 1; */
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
#my_detail{
    width: 35%;
    margin-left: 6%;
}
.location_detail {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}
#my_detail span {
    margin-left: 0.4rem;
}

#my_detail p {
    color: #d9dcdd;
    font-size: 0.9rem;
}
#my_detail h3{
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}
.social_contact_image {
    margin: 10px;
    padding: 10px;
}
.social_contact_image li {
    margin-right: 20px;
}
.location_detail img{
    height: 15px;
}
#contact_heading span{
    color: white;
}
section:target{
    background-color: cyan;
}
/*workexperience*/
.workexperience_container{
    position: relative;
    width: 75%;
    /*border: 2px solid red;*/
}
.experience_timeline{
    position: relative;
    left: 5%;
    width: 40%;
    margin: 5px;
    min-height: 150px;
    
    /*border:2px solid black;*/

}
.experience_timeline:nth-child(2n){
    left: 53%;
    
}
/*.timeline_divider{
    position:absolute;
    height:75%  /*height ko percent me nhi likhenge because we not define height 
                    in its parent element. so we define in pxl or rem.
    width:0;
    left:50%;

    border: 3px dashed grey;

}
*/
.timeline_divider{
    position: absolute;
    height: 75%;
    width: 0%;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
}
.timeline_traveler{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    display: block;
    margin-top: -19px;
    margin-left: -4px;
    z-index: 2;
}
.aeroplane_img{
    height: 27px;
}
.experience_timeline::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    /* left: 100%; */
    /*right: -13.1%;*/
    background-color: lightgrey;
    top: 37%;
    border-radius: 50%;
    z-index: 1;
}

.experience_timeline:nth-child(2n+1)::after{
    right: -13.4%;
    
}
.experience_timeline:nth-child(2n)::after{
    left: -10.8%;
}
.m0{
    margin: 0;
}
.company_name{
    
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}
.Designation{
    font-size: 1.4rem;
}
.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}
.mb-blue{
    color:rgb(40, 87, 164);
}
.text_alignment{
    text-align: right;
}
.experience_para{
    text-align: justify;
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}
.time_period_icon{
    position: absolute;
}
.experience_timeline_box{
    padding: 10px;
}
/*replace navigation-menu  with bar block when screen size is reduced*/
.no-list-style{
    list-style: none;
}
.bars{
    margin-right: 5%;
    text-align: right;
    display: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}
.dropdown-list li {
    margin: 0.4rem 0px;
}

.dropdown-list{
    background-color: #828470;
    display: none;
}
.dropdown-list a{
    text-decoration: none;
    color: white;
}
.dropdown-list li{
    margin: 5px;
}
.dropdown-list ul {
    margin: 0.2rem 0.2rem;
    padding-left: 10px;
    text-align: left;
}
/*.dropdown-list li:hover{
    text-decoration: underline;
    }*/
/*.dropdown-list li:hover ul{
    display: block;
}*/
.dropdown-menu:hover .hide_bar{
    display: block;
    position:absolute;
    right:3%; 
}
.hide_bar  a{
    
    color: white;
    text-decoration:none;
    transition: color 2.4s, border-bottom 4s;
}
.hide_bar a:hover{
    color:lightgrey;
    border-bottom:1px solid black;
}


/*making it responsive website*/
@media  screen and (max-width:768px) {
    .timeline_divider{
        left: 3%;
    }
    .experience_timeline{
        left: 12% !important;
        width: 80%

    }
    .experience_timeline:nth-child(2n+1)::after {
        left: -12%;
    }
    .experience_timeline:nth-child(2n)::after {
        left: -12%;
    }
    /*#contact_container {
        overflow: scroll;
    }*/
    #contact_container{
        flex-wrap:wrap;
    }
    .user_contact_detail{
        width:80%;
        
        
    }
    .contact_form{
        margin:0%;
    }
    
    #my_detail{
        width:80%;
        margin:10%
        
    }
    

    
/*#body-header {
    height: 25vh;
    
}*/
    
}
@media  screen and (max-width:572px){
    .bars{
        display: block;
    }
    .hide_bar{
        display: none;
    }
    .experience_timeline{
        left: 12% !important;
        width:100%;
        
    }
    
    
    
}





